<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Full Text Search Server</title>

    <meta name="description" content="iBoxDB NoSQL Database Full Text Search Server FTS" />
    <link rel="stylesheet" type="text/css" href="css/semantic.min.css" /> 
 
  @RenderSection("Styles", required: false)
  @RenderSection("Scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
